# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.fmt
*.fmtidx
*.gz
*.log
*.out
*.synctex.gz
*.toc
*.xdv
*-converted-to.pdf
*.latexmain
bericht.synctex(busy)

# LaTeX directories
build/
dist/
_minted-*/

# Matlab
*.asv
*.m~
*.mlx
*.p
*.mex*
*.fig
*.mat
slprj/
*.slxc
*.slx.original


# Labor-specific files
lab1/Einführung in MATLAB von Frau Teschl.pdf
lab1/Einführung in Simulink TU München - Jörg Paschedag.pdf
lab1/bericht.pdf
lab1/MatlabSimulink_Kurzanleitung_V2.pdf
example/bericht.pdf
lab3/.$Signalflussbild.drawio.bkp
